header {
  background-color: #2B292E;
  position: absolute;
  top: 0;
  right: 1%;
  left: 1%;
  font-size: 4vh;
  padding: 1%;
}

a {
    color: white;;
    text-decoration-line: none;
    padding: 2%;
}

a:hover {
  text-decoration-line: underline;
}