body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #2B292E;
}

hr {
  width: 99%;
}

td, th, tr {
  border: 1px solid white;
  padding: 1%;
}

.headerlinks {
  font-size: 150%;
  color: white;;
  text-decoration-line: none;
  padding: 0 2% 0 2%;
}

.headerlinks:hover {
  text-decoration-line: underline;
}

.footerlinks {
  font-size: 100%;
  color: white;;
  text-decoration-line: none;
  padding: 0 2% 0 2%;
}

.footerlinks:hover {
  text-decoration-line: underline;
}

.zoom {
  cursor: pointer;
  pointer-events: none;
  color: grey;
}

.hidden {
  cursor: pointer;
  color: red
}

.visible {
  cursor: pointer;
  color: green;
}

#header {
  width: 99%;
  height: 7%;
  position: fixed;
  top: 1%;
}

#main {
  width: 99%;
  height: 82%;
  position: fixed;
  top: 9%;
}

#footer {
  width: 99%;
  height: 7%;
  position: fixed;
  bottom: 1%;
}

#sidebar {
  width: 1%;
  height: 82%;
  position: fixed;
  left: 0;
  background-color:white;
  opacity: 0.5;
  z-index: 1;
  transition: 0.2s;
}

#sidebar:hover {
  width: 55vw;
  background-color: #2B292E;
  opacity: 0.8;
}

#map {
  width: 95%;
  height: 100%;
  margin: auto;
  z-index: 0;
}

#interface {
  width: 50vw;
  margin: auto;
  text-align: center;
  visibility: hidden;
  color: white
}

#table {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  border-collapse: collapse;
  text-align: left;
}

/* #imprint {
  background-color: #2B292E;
  padding: 40px;
  color: rgb(194, 189, 189);
  overflow: auto;
}

#index1 {
  background-color: #2B292E;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
} */